# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Environment
# Ignore all .env files except .env.example
.env*
!.env.example

# Test results
results.json
*.har
python_loading_test_example/
